PROYECTOBBDD/PROYECTOBBDD/obj/Debug/PROYECTOBBDD.csproj.FileListAbsolute.txt
PROYECTOBBDD/PROYECTOBBDD/obj/Debug/PROYECTOBBDD.csproj.FileListAbsolute.txt
PROYECTOBBDD/PROYECTOBBDD/obj/Debug/PROYECTOBBDD.csproj.FileListAbsolute.txt
PROYECTOBBDD/PROYECTOBBDD.v12.suo
*.suo